@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.cart {
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 245px;
  max-height: 245px;
  min-width: 245px;
  max-width: 245px;
  width: 245px;
  padding: 5px 8px;
  border: 1px solid $gray-color3;
  overflow: hidden;
  margin: 6px;

  &.grid4 {
    min-width: 550px;
    max-width: 550px;
    width: 550px;
  }
  
  .input_navbar {
    margin: auto 0;
  }

  &:hover {
    box-shadow: 0 1px 1px 0 #94969b, 0 1px 3px 1px #d0d2d3;

    .done_icon,
    .icon_btn,
    .input_navbar {
      display: block;
    }
  }

  .done_icon {
    display: none;
    position: absolute;
    top: -11px;
    left: -11px;
    background: $primary-black;
    border-radius: 50%;
    fill: $color-white;
    padding: 3px;
    width: 15px;
    height: 15px;
  }

  .cart_content {
    padding: 5px 10px 0;

    .cart_title {
      display: flex;
      justify-content: space-between;
      min-height: 50px;
      word-break: break-all;

      h1 {
        text-transform: initial;
        font-size: 20px;
        font-weight: $font-weight-bold;
      }
    }

    .cart_text {
      height: 100%;
      min-height: 85px;
      max-height: 85px;
      display: inline-block;
      width: 100%;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .main_chips {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      overflow: hidden;
      padding: 5px 0;
      min-height: 40px;
    }
  }

  .icon_btn {
    padding: 4px 5px;
    position: relative;
    float: right;
    height: 30px;

    &:hover {
      svg {
        fill: $primary-black;
      }
    }
  }

  .icon_btn,
  .input_navbar {
    display: block;
  }
}

.chips_length {
  position: relative;
  right: 18px;
  background-color: $gray-color3;
  padding: 2px 5px;
  margin-left: 16px;
}
