@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.cart {
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 330px;
  max-height: 330px;
  min-width: 245px;
  max-width: 245px;
  width: 245px;
  padding: 5px 8px;
  border: 1px solid $gray-color3;
  overflow: hidden;
  margin: 6px;
  display: flex;
  flex-direction: column;

  &.column {
    min-width: 550px;
    max-width: 550px;
    width: 550px;
  }
  
  &:hover {
    box-shadow: 0 1px 1px 0 #94969b, 0 1px 3px 1px #d0d2d3;
  }

  .done_icon {
    display: none;
    position: absolute;
    top: -11px;
    left: -11px;
    background: $primary-black;
    border-radius: 50%;
    fill: $color-white;
    padding: 3px;
    width: 15px;
    height: 15px;
  }

  .cart_content {
    padding: 5px 10px 0;
    
    .cart_title {
      display: flex;
      justify-content: space-between;
      word-break: break-all;
      min-height: 50px;
      
      p {
        text-transform: initial;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: $font-weight-bold;
        word-break: break-word;
        
        &:focus {
          outline: none;
        }
      }
    }

    .cart_text {
      height: 100%;
      min-height: 130px;
      max-height: 130px;
      display: inline-block;
      width: 100%;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Roboto';
      word-break: break-word;

      &:focus {
        outline: none;
      }
    }
  }

  .main_chips {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
    padding: 5px 10px;
    min-height: 40px;
    margin-top: auto;
  }
  
  .icon_btn {
    padding: 4px 5px;
    position: relative;
    float: right;
    height: 30px;
    
    .pined {
      width: 19px;
      height: 19px;
    }
    
    &:hover {
      svg {
        fill: $primary-black;
      }
    }
  }
  
  .icon_btn,
  .input_navbar {
    display: block;
  }

  .icon_btn {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
  }

  &.popup {
    border: 1px solid transparent;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    .cart_content {
      padding-right: 0;

      .cart_text {
        height: fit-content;
        height: fit-content;
        min-height: fit-content;
        max-height: fit-content;
      }
    }
  
    &:hover {
      box-shadow: none;
    }
  }
}

.chips_length {
  position: relative;
  right: 18px;
  background-color: $gray-color3;
  padding: 2px 5px;
  margin-left: 16px;
}

@media screen and (max-width: 1368px) {
  .cart {
    border-radius: 7px;
    padding: 4px 7px;
    min-height: 310px;
    max-height: 310px;
    min-width: 245px;
    max-width: 245px;
    width: 225px;
  
    &.column {
      min-width: 500px;
      max-width: 500px;
      width: 500px;
    }
    
    .cart_content {
      padding: 4px 8px 0;
      
      .cart_title {
        min-height: 40px;
        
        p {
          font-size: 15px;
        }
      }
  
      .cart_text {
        min-height: 110px;
        max-height: 110px;
        font-size: 13px;
      }
    }
  
    .main_chips {
      padding: 4px 8px;
      min-height: 35px;
    }
    
    .icon_btn {
      padding: 4px 5px;
      height: 25px;

      .pined {
        width: 17px;
        height: 17px;
      }
    }
  }
}

@media screen and (max-width: 1001px) {
  .cart {
    padding: 4px 6px;
    min-height: fit-content;
    max-height: fit-content;
    min-width: 450px;
    max-width: 450px;
    width: 450px;
  
    &.column {
      min-width: 450px;
      max-width: 450px;
      width: 450px;
    }
    
    .cart_content {
      .cart_title {
        min-height: 55px;
      }
  
      .cart_text {
        min-height: 130px;
        max-height: 130px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cart {
    padding: 4px 6px;
    min-height: fit-content;
    max-height: fit-content;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
  
    &.column {
      min-width: 300px;
      max-width: 300px;
      width: 300px;
    }
    
    .cart_content {
      .cart_title {
        min-height: 55px;
      }
  
      .cart_text {
        min-height: 130px;
        max-height: 130px;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .cart {
    padding: 4px 6px;
    min-height: fit-content;
    max-height: fit-content;
    min-width: 275px;
    max-width: 275px;
    width: 275px;
  
    &.column {
      min-width: 275px;
      max-width: 275px;
      width: 275px;
    }
  }
}

.popupCart {
  width: 100%;
  box-shadow: none;
  max-width: 100%;
  border: transparent;

  &:hover {
    box-shadow: none;
  }
}
