.red {
  background: rgb(255, 165, 150) !important;
}

.orange {
  background: rgb(255, 220, 25) !important;
}

.yellow {
  background: rgb(255, 250, 125) !important;
}

.green {
  background: rgb(180, 255, 120) !important;
}

.light-blue {
  background: rgb(167, 255, 235) !important;
}

.blue {
  background: rgb(203, 240, 248) !important;
}

.bold-blue {
  background: rgb(174, 203, 250) !important;
}

.purple {
  background: rgb(215, 170, 255) !important;
}

.pink {
  background: rgb(255, 200, 225) !important;
}

.brown {
  background: rgb(235, 201, 160) !important;
}

.grey {
  background: rgb(232, 234, 237) !important;
}
