.editor {
  box-sizing: border-box;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  background: #fefefe;
  height: auto;
  min-height: 1px;
  position: relative;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.link {
  color: #3b5998;
  text-decoration: underline;
  cursor: pointer;
}

.linkWrapper {
  padding: 15px;
  min-width: 400px;
  
  button {
    background: #3b5998;
    padding: 5px 10px;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
  }

  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    input {
      width: 250px;
      border: 2px solid rgba(150, 150, 150, 0.25);
      padding: 5px;
    }
  }

  .buttons {
    button {
      margin-right: 10px;
    }
  }
}
