.editor {
  box-sizing: border-box;
  cursor: text;
  padding: 5px 15px;
  border-radius: 2px;
  margin-bottom: 1em;
  background: #fefefe;
  height: auto;
  min-height: 1px;

  & > div {
    border: none !important;
    box-shadow: none !important;
    padding-top: 10px !important;

    div { 
      div {
        button {
          background: #fff !important;
        }
      }
    }
  }

  .custom {
    border-bottom: 2px solid rgba(210, 210, 210, 0.4) !important;
  }

  .icon_btn {
    margin-right: 10px !important;
      svg {
        width: 20px;
        height: 20px;
      }
  }
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}
