.editor {
  box-sizing: border-box;
  cursor: text;
  padding: 16px 7px;
  border-radius: 2px;
  background: #fefefe;
  height: auto;
  min-height: 1px;
  position: relative;
}

.editor.cart {
  max-height: 150px;
  height: 150px;
  overflow: hidden;
  padding: 16px 1px;
}

.editor.modal {
  overflow-y: scroll;
  min-height: 300px;
  padding: 50px 10px 0;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 0;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.link {
  color: #3b5998;
  text-decoration: underline;
  cursor: pointer;
}

.linkWrapper {
  padding: 15px;
  min-width: 400px;
  
  button {
    padding: 5px 0;
    border-radius: 0;
    font-size: 14px;
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    
    &_item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 15px 0 10px;

      input {
        width: fit-content;
        margin: 0 15px;
      }
    }

    input {
      width: 100%;
      border: 2px solid rgba(150, 150, 150, 0.25);
      padding: 5px;
    }
  }
}
