@import '../../styles/base/base';
@import '../../styles/base/mixins';

.editor {
  box-sizing: border-box;
  cursor: text;
  padding: 5px;
  border-radius: 2px;
  height: auto;
  min-height: 20px;
  position: unset;
}

.editor.cart {
  max-height: 50px;
  overflow: hidden;
  padding: 3px 0;
  font-size: 12px;
}

.editor.large {
  max-height: 190px;
  height: 190px;
}

.editor.modal {
  overflow-y: scroll;
  min-height: 300px;
  padding: 50px 10px 0 !important;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 0;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

.link {
  color: #3b5998;
  text-decoration: underline;
  cursor: pointer;
}

.linkWrapper {
  padding: 15px;
  min-width: 400px;

  button {
    padding: 5px 0;
    border-radius: 0;
    font-size: 14px;
  }

  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    &_item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 15px 0 10px;

      input {
        width: fit-content;
        margin: 0 15px;
      }
    }

    input {
      width: 100%;
      border: 2px solid rgba(150, 150, 150, 0.25);
      padding: 5px;
    }
  }
}

@include desktop {
  .editor {
    padding: 13px 11px;
  }

  .editor.cart {
    max-height: 140px;
    height: 140px;
    padding: 1px;
    
  }

  .editor.large {
    max-height: 180px;
    height: 180px;
  }
}

@include desktop-large {
  .editor {
    padding: 16px 7px;
  }

  .editor.cart {
    max-height: 155px;
    height: 155px;
    padding: 16px 1px;
  }

  .editor.large {
    max-height: 220px;
    height: 220px;
  }
}
