@import '/src/styles/base/mixins';
@import '/src/styles/base/variables';

.sider {
  height: 100vh;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
  margin-right: 120px;
  background: #fff;
  z-index: 1 !important;
  border-right: 0;
  overflow-y: scroll;
  position: fixed;
  top: 75px;
  left: 0;
  height: 100vh;
  padding-bottom: 100px;

  &:hover {
    flex: 0 0 260px;
    max-width: 260px;
    min-width: 260px;
    width: 260px;
    box-shadow: 0 10px 10px $gray-color5;
    margin-right: 45px;

    .menu_item__title {
      display: block;
    }

    .sider_submenu:hover {
      border-radius: 0 25px 25px 0;
    }

    .sider_submenu__menu_item {
      border-radius: 0 25px 25px 0 !important;
      width: 100%;
      padding-left: 10px;
      margin-left: 0;
    }
  }

  .menu_item__title {
    display: none;

    padding-left: 55px;
    color: $gray-color1;
    white-space: nowrap;
  }

  &_children {
    padding: 0;
  }

  &_menu {
    padding: auto;
  }

  &_submenu {
    padding: auto;
    cursor: pointer;

    &:hover {
      background: $gray-color3;
      border-radius: 50%;
    }

    &__menu_item {
      box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 0 25px 25px 0;
      color: #202124;
      display: box;
      display: flex;
      display: flex;
      align-items: center;
      align-items: center;
      letter-spacing: 0.01785714em;
      font-weight: 500;
      line-height: 1.25rem;
      height: 48px;
      min-width: 48px;
      overflow: hidden;
      width: 47px;
      border-radius: 50%;
      margin-left: 10px;
      transition: all 0.3s ease-out;
      position: relative;

      svg {
        padding-left: 11px;
        position: absolute;
      }
    }
  }

  &.open {
    flex: 0 0 260px !important;
    max-width: 260px !important;
    min-width: 260px !important;
    width: 260px !important;
    padding-left: 0;
    margin-right: 15px;

    &:hover {
      box-shadow: none;
    }
    
    .menu_item__title {
      display: block !important;
    }

    .sider_submenu:hover {
      border-radius: 0 25px 25px 0;
    }

    .sider_submenu__menu_item {
      border-radius: 0 25px 25px 0;
      width: 100%;
      padding-left: 10px;
      margin-left: 0;
    }
  }
}

.popup_row {
  max-height: 90%;
  min-height: 150px;
  overflow-y: scroll;
  height: 300px;
}

.active {
  background: $yellow;
}

.gaps {
  padding: 10px;
  display: flex;

  &_icons_row {
    padding: auto;
  }

  input {
    border: 1px solid transparent;
    padding: 5px 10px;

    &:focus {
      border-bottom: 1px solid $gray-color2;
    }
  }
}

.bottom_btn {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $gray-color2;
  padding-top: 20px;
  width: 100%;

  button {
    padding: 12px 15px;
    background: $color-white;
    border-radius: 0%;

    &:hover {
      background: $color-white;
    }
  }
}

@media screen and (max-width: 1368px) {
  .sider {
    max-width: 60px;
    min-width: 60px;
    width: 60px;
    margin-right: 75px;
  
    &:hover {
      flex: 0 0 250px;
      max-width: 250px;
      min-width: 250px;
      width: 250px;
      margin-right: 35px;
    }
  
    .menu_item__title {
      padding-left: 50px;
    }
  
    &.open {
      flex: 0 0 250px !important;
      max-width: 250px !important;
      min-width: 250px !important;
      width: 250px !important;
    }
  }

  .gaps {
    padding: 8px;

    input {
      padding: 4px 8px;
    }
  }
  
  .bottom_btn {
    padding-top: 15px;
  
    button {
      padding: 10px 12px;
    }
  }  
}

@media screen and (max-width: 1201px) {
  .sider {
    max-width: 60px;
    min-width: 60px;
    width: 60px;
    margin-right: 0;
  
    &:hover {
      flex: 0 0 210px;
      max-width: 210px;
      min-width: 210px;
      width: 210px;
      margin-right: 35px;
    }
  
    &_submenu {
      &__menu_item {
        font-size: 12px;
      }
    }
  
    &.open {
      flex: 0 0 210px !important;
      max-width: 210px !important;
      min-width: 210px !important;
      width: 210px !important;
    }
  }  
}

@media screen and (max-width: 1001px) {
  .sider {
    max-width: 60px;
    min-width: 60px;
    width: 60px;
    margin-right: 112px;
    position: absolute;

    &:hover {
      flex: 0 0 255px;
      max-width: 255px;
      min-width: 255px;
      width: 255px;
      margin-right: 35px;
    }
  
    .menu_item__title {
      padding-left: 50px;
    }
  
    &_submenu {
      &__menu_item {
        font-size: 13px;
      }
    }
  
    &.open {
      flex: 0 0 255px !important;
      max-width: 255px !important;
      min-width: 255px !important;
      width: 255px !important;
      border-right: 1px solid rgb(233, 233, 233);
    }
  }

  .gaps {
    padding: 8px;
    
    input {
      padding: 4px 8px;
    }
  }
  
  .bottom_btn {
    padding-top: 15px;
  
    button {
      padding: 10px 12px;
    }
  }  
}

@media screen and (max-width: 567px) {
  .sider {
    max-width: 0;
    min-width: 0;
    width: 0;
    margin-right: 100px;
    display: none;

    &.open {
      display: flex;
    }
  }
}
