@import '/src/styles/base/mixins';
@import '/src/styles/base/variables';

.sider {
  height: 100vh;
  width: 40px;
  background: #fff;
  z-index: 1 !important;
  border-right: 0;
  overflow-y: scroll;
  position: fixed;
  top: 98px;
  left: 0;
  height: 100vh;
  padding-left: 1px;
  padding-bottom: 125px;
  
  .menu_item__title {
    display: none;

    padding-left: 55px;
    color: $gray-color1;
    white-space: nowrap;
  }
  
  &_children {
    width: 100%;
    padding: 0;
  }
  
  &_menu {
    width: 100%;
    padding: auto;
  }
  
  &_submenu {
    width: 100%;
    padding: auto;
    cursor: pointer;
    padding: 1px 0;

    &__menu_item {
      box-sizing: border-box;
      border: 1px solid transparent;
      border-radius: 0 25px 25px 0;
      border-radius: 50%;
      color: #202124;
      display: flex;
      align-items: center;
      letter-spacing: 0.01785714em;
      font-weight: 500;
      line-height: 1.25rem;
      height: 35px;
      width: 35px;
      position: relative;
      transition: all 0.3s ease-out;
      overflow: hidden;

      &:hover {
        background: rgb(225, 225, 225);
      }

      svg {
        position: absolute;
        padding-left: 8px;
        width: 17.5px !important;
      }
    }
  }

  &.open {
    width: 260px;
    border-right: 1px solid rgb(240, 240, 240) !important;

    .menu_item__title {
      display: block !important;
    }

    .sider_submenu__menu_item {
      border-radius: 0 25px 25px 0;
      width: 100%;
    }
  }
}

.popup_row {
  max-height: 90%;
  min-height: 150px;
  overflow-y: scroll;
  height: 300px;
}

.active {
  background: $yellow;
}

.gaps {
  padding: 10px;
  display: flex;
  width: 100%;

  &_icons_row {
    padding: auto;
  }

  input {
    border: 1px solid transparent;
    padding: 5px 10px;

    &:focus {
      border-bottom: 1px solid $gray-color2;
    }
  }
}

.bottom_btn {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $gray-color2;
  padding-top: 20px;
  width: 100%;

  button {
    padding: 12px 15px;
    background: $color-white;
    border-radius: 0%;
    border-bottom-right-radius: 25px;

    &:hover {
      background: $color-white;
    }
  }
}

@include tablet-portrait {
  .sider {
    width: 50px;
    top: 98px;
    padding-bottom: 100px;
  
    &_submenu {
      &__menu_item {
        height: 37.5px;
        width: 37.5px;
  
        svg {
          padding-left: 8px;
          width: 19px !important;
        }
      }
    }
  
    &.open {
      width: 275px;
    }
  }
}

@include tablet-landscape {
  .sider {
    width: 55px;
  
    &_submenu {
      &__menu_item {
        height: 42.5px;
        width: 42.5px;
  
        svg {
          padding-left: 9px;
          width: 22px !important;
        }
      }
    }
  
    &.open {
      width: 300px;
    }
  }
}

@include desktop {
  .sider {
    width: 65px;
    top: 74.5px;

    &_submenu {
      &__menu_item {
        height: 45px;
        width: 45px;
  
        svg {
          padding-left: 10px;
          width: 25px !important;
        }
      }
    }
  }
}

@include desktop-large {
  .sider {
    width: 80px;
    top: 92px;
  
    &_submenu {
      &__menu_item {
        height: 60px;
        width: 60px;
  
        svg {
          padding-left: 11.5px;
          width: 35px !important;
        }
      }
    }
  }
}
