@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.layout {
  &_title {
    color: $gray-color4;
    letter-spacing: 0.07272727em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    margin: 32px 32px 8px;
    font-weight: $font-weight-bold;
  }
}

.carts_layout {
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  &.grid4 {
    flex-direction: column;
  }
}
