@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.home_page {
  width: 100%;

  &__main_input {
    padding: 20px 200px;
  }
  
  &.grid4 {
    width: 100%;
    padding: 0 200px;
    grid-template-columns: repeat(1, auto);
    
    .home_page__main_input {
      padding: 20px 0 0;
    }
  }
}
