@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.home_page {
  width: 100%;
  min-height: 167px;
  padding-top: 90px;
  padding-left: 50px;

  &__main_input {
    padding: 10px 0 0;
    position: relative;
    display: flex;
    justify-content: center;

    .other_options {
      position: absolute;
      bottom: -15%;
      left: 40%;
      background: rgb(212, 212, 212);
    }
  }

  &.column {
    width: 100%;
    grid-template-columns: repeat(1, auto);

    .home_page__main_input {
      padding: 10px 0 0;
    }
  }
}

.bottom_btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 0;

  button {
    padding: 7px 15px;
    border-radius: 0;
  }
}

.gaps {
  padding: 10px;
  display: flex;

  &_icons_row {
    padding: auto;
  }

  input {
    border: 1px solid transparent;
    padding: 5px 10px;

    &:focus {
      border-bottom: 1px solid $gray-color2;
    }
  }
}

.main_chips {
  padding: 3px 10px;
  display: flex;
  flex-wrap: wrap;

  div {
    width: fit-content;
  }
}

.extraGap {
  background: $gray-color2;
  color: $primary-black;
  margin-right: 8px;
  padding: 1px 10px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.textarea {
  outline: none !important;
  font-weight: $font-weight-bold;
  font-size: 16px;
}

.textarea[contenteditable]:empty::before {
  content: 'Title';
  color: rgb(150, 150, 150);
}

@include desktop {
  .home_page {
    padding-left: 75px;

    &.open {
      padding-left: 300px;
    }

    &__main_input {
      .other_options {
        position: absolute;
      }
    }

    &.column {
      .home_page__main_input {
        padding: 10px 0 0;
      }
    }
  }
}

@include desktop-large {
  .home_page {
    padding-left: 200px;
    padding-top: 100px;

    &.open {
      padding-left: 325px;
    }

    &__main_input {
      .other_options {
        position: absolute;
      }
    }

    &.column {
      .home_page__main_input {
        padding: 10px 0 0;
      }
    }
  }
}
