@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.header_button {
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer !important;
  background-color: $color-white;
  padding: 12px;

  &:hover {
    background: $light-gray-hover !important;
  }

  svg {
    width: 24px;
    height: 24px;

    path {
      fill: $gray-color1;
      opacity: 1;
    }
  }

  input {
    display: none;
  }
}
