@import '/src/styles/base/mixins';
@import '/src/styles//base/variables';

.header_button {
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer !important;
  background-color: $color-white;

  padding: 7.5px 10px;

  &:hover {
    background: $light-gray-hover !important;
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: $gray-color1;
      opacity: 1;
    }
  }

  input {
    display: none;
  }
}

@include desktop {
  .header_button {
    padding: 10px 12px;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}

@include desktop-large {
  .header_button {
    padding: 12px 15px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
